.weatherPage {
    &__LeftDetail{
        color: white;
    }

    &__LeftDetail--left-part {
        position: absolute;  
        top:67%;
        left: 5%;
        font-size: 6.25rem;
        line-height: 140px;

        //摄氏度 空心样式
        &::before{
            position: absolute;
            width: 0.8rem;
            height: 0.8rem;
            background-color: transparent;
            left: 95%;
            top:17%;
            border-radius: 50%;
            content: "";
            border: solid 0.21875rem;
        }   
    }

    &__LeftDetail--middle-part{

        & span:nth-child(1){
            position: absolute;
            top:67%;
            left:18%;
            font-size: 3.75rem;
            line-height: 105px; //设置相同的top:70%，再通过line-height调整行高，布局
        }
    
        & span:nth-child(2){
            position: absolute;
            top:67%;
            left: 18%;
            font-size: 2.0rem;
            line-height: 190px; //设置相同的top:70%，再通过line-height调整行高，布局
        }
    }

    &__LeftDetail--right-part{
        & img:nth-child(1){
            position: absolute;
            top:67%;
            left:35%;
            width: 100px;
        }
    
        & span:nth-child(2) {
            position: absolute;
            top:67%;
            left:36%;
            font-size: 2.0rem;
            line-height: 188px;
        }
    }

    &__LeftDetail--left-part span:nth-child(1),
    &__LeftDetail--middle-part span:nth-child(1),
    &__LeftDetail--middle-part span:nth-child(2),
    &__LeftDetail--right-part img:nth-child(1),
    &__LeftDetail--right-part span:nth-child(2)
    {
        &:after {
            // background-color: black;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-image:url(../../../../img//sunny.jpg);
            background-position: center top;
            background-size: cover;
            background-attachment: fixed;
            filter: blur(18px);
            -webkit-filter: blur(20px);
        }
    }
    
}


@media only screen and (max-width: 1400px) {
    .weatherPage {
        &__LeftDetail{
            // color: red;
            color: white;
        }
    
        &__LeftDetail--left-part {
            position: absolute;  
            top:13%;
            left: 45%;
            font-size: 5rem;
            line-height: 120px;
    
            //摄氏度 空心样式
            &::before{
                position: absolute;
                width: 0.8rem;
                height: 0.8rem;
                background-color: transparent;
                left: 95%;
                top:17%;
                border-radius: 50%;
                content: "";
                border: solid 0.21875rem;
            }   
        }
    
        &__LeftDetail--middle-part{
    
            & span:nth-child(1){
                position: absolute;
                top:27%;
                left:30%;
                font-size: 3rem;
                line-height: 65px; //设置相同的top:70%，再通过line-height调整行高，布局
            }
        
            & span:nth-child(2){
                position: absolute;
                top:27%;
                left: 30%;
                font-size: 1.5rem;
                line-height: 140px; //设置相同的top:70%，再通过line-height调整行高，布局
            }
        }
    
        &__LeftDetail--right-part{
            & img:nth-child(1){
                position: absolute;
                top:24%;
                left:57%;
                width: 100px;
            }
        
            & span:nth-child(2) {
                position: absolute;
                top:24%;
                left:58%;
                font-size: 2.0rem;
                line-height: 180px;
            }
        }
    
        &__LeftDetail--left-part span:nth-child(1),
        &__LeftDetail--middle-part span:nth-child(1),
        &__LeftDetail--middle-part span:nth-child(2),
        &__LeftDetail--right-part img:nth-child(1),
        &__LeftDetail--right-part span:nth-child(2)
        {
            &:after {
                // background-color: black;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                background-image:url(../../../../img//sunny.jpg);
                background-position: center top;
                background-size: cover;
                background-attachment: fixed;
                filter: blur(18px);
                -webkit-filter: blur(20px);
            }
        }
        
    }
}

// @media only screen and (max-width: 1100px) {

// }

@media only screen and (max-width: 867px) {
    .weatherPage {
        &__LeftDetail{
            color: white;
        }
    
        &__LeftDetail--left-part {
            position: absolute;  
            top:57%;
            left: 15%;
            font-size: 7.25rem;
            line-height: 150px;
     
        }
    
        &__LeftDetail--middle-part{
    
            & span:nth-child(1){
                position: absolute;
                top:57%;
                left:35%;
                font-size: 3.75rem;
                line-height: 105px; //设置相同的top:70%，再通过line-height调整行高，布局
            }
        
            & span:nth-child(2){
                position: absolute;
                top:57%;
                left: 35%;
                font-size: 2.0rem;
                line-height: 220px; //设置相同的top:70%，再通过line-height调整行高，布局
            }
        }
    
        &__LeftDetail--right-part{
            & img:nth-child(1){
                position: absolute;
                top:57%;
                left:65%;
                width: 100px;
            }
        
            & span:nth-child(2) {
                position: absolute;
                top:57%;
                left:65%;
                font-size: 2.0rem;
                line-height: 218px;
            }
        }
        
    }
}